[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
pytest = "==6.2.5"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
